<div class="absolute inset-0 bg-gradient-to-br from-primary/10 to-transparent pointer-events-none"></div>
<div
  class="w-full max-w-md relative z-10 bg-on-secondary-fixed-variant/40 p-6 rounded-xl border border-outline-variant/20 backdrop-blur-md shadow-2xl mx-auto">
  <div class="flex flex-col items-center mb-6">
    <img alt="Open Petal Logo" class="w-24 h-auto mb-6"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuD49ejpibKJ29mHsqSBPwvsvUtrTZfoTE-BGXL9vrm2YQv6aBlQ0W8vLRriT1lTVgtCQTsM4rVy61tY1hpEQ3MCcLIlYtssxUfox4zlAgs34IvumyZXGiipbf5JvNVYUo2M_yQDKusUuTUA4JoEIu42Q_JBLSsX4QZvGJE-kRbGELhdyde_iGcNpm52NPZKg22MAZQblsVlbuGzXDG5l-w4T2XZL6nD4upfoxNP4kWQFqzV2ug6WTeUGjFG3DGnGOU4vw" />
    <h1 class="font-display-lg text-[32px] leading-tight text-tertiary-fixed font-bold tracking-tight text-center">Reset
      Password</h1>
    <p class="font-body-md text-body-md text-secondary-fixed-dim mt-2 text-center">Enter your email to receive a reset
      link.</p>
  </div>
  <form class="flex flex-col w-full space-y-2 mt-4">
    <!-- Email Input -->
    <div class="form-control w-full">
      <label class="label py-1"><span class="label-text font-medium text-base-content/80">Email Address</span></label>
      <label class="input input-bordered flex items-center gap-2 !rounded-none bg-transparent validator">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </g>
        </svg>
        <input type="email" class="grow" placeholder="mail@site.com" id="email" required />
      </label>
      <div class="validator-hint hidden text-xs mt-1 text-error">Enter valid email address</div>
    </div>

    <!-- Actions -->
    <div class="pt-2">
      <button class="btn btn-primary w-full !rounded-none !h-12 text-[16px] glow-effect" type="submit">
        Send Reset Link
      </button>
    </div>
  </form>
  <div class="mt-8 text-center">
    <p class="font-body-md text-body-md text-secondary-fixed-dim">
      Remember your password?
      <a class="text-tertiary-fixed hover:text-tertiary-fixed-dim font-medium transition-colors ml-1"
        routerLink="/login">Sign In</a>
    </p>
  </div>
</div>