.glow-effect {
    box-shadow: 0 0 15px rgba(34, 193, 214, 0.2);
}
.glow-effect:focus-within {
    box-shadow: 0 0 20px rgba(34, 193, 214, 0.4);
    border-color: #22c1d6 !important;
}
input[type="checkbox"]:checked {
    background-color: #006578;
    border-color: #006578;
}
