@import "tailwindcss";
@plugin "daisyui";

@config "../tailwind.config.js";

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: 'Hanken Grotesk', sans-serif;
}